<template>
  <v-card class="pa-4" id="ankylosis-info" style="background-color: #CCDEF3;">
    <v-layout column wrap>
      
      <v-flex xs12>
        <card-header
          :titles="items" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 justify-center align-center">
          <v-flex xs12 md3>
            <card-text text="Favorable angle in full extension or in slight flexion between 0 and 10 degrees" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="textarea" v-model="ankylosis.angleArea" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="textarea" v-model="ankylosis.angleArea1" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="textarea" v-model="ankylosis.angleArea2" />
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 justify-center align-center">
          <v-flex xs12 md3>
            <card-text text="In flexion between 10 and 20 degrees" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="textarea" v-model="ankylosis.flexionOneArea" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="textarea" v-model="ankylosis.flexionOneArea1" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="textarea" v-model="ankylosis.flexionOneArea2" />
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 justify-center align-center">
          <v-flex xs12 md3>
            <card-text text="In flexion between 20 and 45 degrees" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="textarea" v-model="ankylosis.flexionTwoArea" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="textarea" v-model="ankylosis.flexionTwoArea1" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="textarea" v-model="ankylosis.flexionTwoArea2" />
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 justify-center align-center">
          <v-flex xs12 md3>
            <card-text text="Extremely unfavorable, in flexion at an angle of 45 degrees or more" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="textarea" v-model="ankylosis.flexionThreeArea" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="textarea" v-model="ankylosis.flexionThreeArea1" />
          </v-flex>

          <v-flex xs12 md3>
            <global field="textarea" v-model="ankylosis.flexionThreeArea2" />
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />
      </v-flex>
    </v-layout>
  </v-card>
</template>
<script>
  import CardHeader from '@/components/props/CardHeader'
  import CardText from '@/components/props/CardText'
  import Global from '@/components/props/Global'
  export default {
    components: {
      CardText,
      CardHeader,
      Global
    },
    data: () => ({
      items: [
        {
          title: '',
          flex: 'xs12 md3'
        },
        {
          title: 'Right Knee',
          flex: 'xs12 md3'
        },
        {
          title: 'Left Knee',
          flex: 'xs12 md3'
        },
        {
          title: 'Remarks',
          flex: 'xs12 md3'
        }
      ],
      ankylosis: {
        angleArea: '',
        angleArea1: '',
        angleArea2: '',
        flexionOneArea: '',
        flexionOneArea1: '',
        flexionOneArea2: '',
        flexionTwoArea: '',
        flexionTwoArea1: '',
        flexionTwoArea2: '',
        flexionThreeArea: '',
        flexionThreeArea1: '',
        flexionThreeArea2: ''
      }
    }),
    methods: {
      testPayload () {
        console.log(this.ankylosis)
      }
    }
  }
</script>