<template>
  <v-card class="pa-4" id="flare-ups-info" style="background-color: #CCDEF3;">
    <v-layout column wrap>

      <v-flex xs12>
        <card-header
        :titles="items" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="align-center">
          <v-flex xs12 md4>
            <card-text text="Is the examination being conducted during a flare up?" />
          </v-flex>

          <v-flex xs12 md4>
            <global class="mx-5" field="button" v-model="flareUps.flareUpsQuestionButton" @add="" :btnItems="arrayItems" />
          </v-flex>

          <v-flex xs12 md4>
            <global class="mx-5" field="button" v-model="flareUps.flareUpsQuestionButton1" @add="" :btnItems="arrayItems" />
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md4>
            <card-text text="If the examination is medically inconsistent with the Veterans statements of functional loss, please explain:" />
          </v-flex>

          <v-flex xs12 md4>
            <global field="textarea" v-model="flareUps.flareUpsQuestion1Area" />
          </v-flex>

          <v-flex xs12 md4>
            <global field="textarea" v-model="flareUps.flareUpsQuestion1Area1"/>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md4>
            <card-text text="*Does pain, weakness, fatigability or incoordination significantly limit functional ability with flare-ups?" />
          </v-flex>

          <v-flex xs12 md4>
            <global class="mx-5" field="button" v-model="flareUps.flareUpsQuestion2Button" @add="" :btnItems="arrayBtnItems" />
          </v-flex>

          <v-flex xs12 md4>
            <global class="mx-5" field="button" v-model="flareUps.flareUpsQuestion2Button1" @add="" :btnItems="arrayBtnItems" />
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md4>
            <card-text text="If unable to say without mere speculation, please explain:" />
          </v-flex>

          <v-flex xs12 md4>
            <global field="textarea" v-model="flareUps.flareUpsQuestion3Area" />
          </v-flex>

          <v-flex xs12 md4>
            <global field="textarea" v-model="flareUps.flareUpsQuestion3Area1"/>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md4>
            <card-text text="Select all factors that cause this functional loss:" />
          </v-flex>

          <v-flex xs12 md4>
            <v-layout column wrap>
              <global class="mx-2" field="checkbox" v-model="flareUps.flareUpsQuestion4CheckBox" :checkBoxItems="arraySelectItems" />

              <global field="textfield" v-model="flareUps.flareUpsQuestion4Text" label="Other/s" inputType="text" />
            </v-layout>
          </v-flex>

          <v-flex xs12 md4>
            <v-layout column wrap>
              <global class="mx-2" field="checkbox" v-model="flareUps.flareUpsQuestion4CheckBox1" :checkBoxItems="arraySelectItems"/>

              <global field="textfield" v-model="flareUps.flareUpsQuestion4Text1" label="Other/s" inputType="text" />
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md4>
            <card-text text="Are you able to describe of Range Motion?" />
          </v-flex>

          <v-flex xs12 md4>
            <global class="mx-5" field="button" v-model="flareUps.flareUpsQuestion5Button" @add="" :btnItems="arrayBtnItems" />
          </v-flex>

          <v-flex xs12 md4>
            <global class="mx-5" field="button" v-model="flareUps.flareUpsQuestion5Button1" @add="" :btnItems="arrayBtnItems" />
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>
    </v-layout>
  </v-card>
</template>
<script>
  import CardHeader from '@/components/props/CardHeader'
  import CardText from '@/components/props/CardText'
  import Global from '@/components/props/Global'
  export default {
    components: {
      CardHeader,
      CardText,
      Global
    },
    data: () => ({
      arrayBtnItems: ['Yes', 'No'],
      arrayItems: ['Yes', 'No', 'N/A'],
      arraySelectItems: [
        {
          label: 'N/A',
          model: null
        },
        {
          label: 'Pain',
          model: null
        },
        {
          label: 'Fatigue',
          model: null
        },
        {
          label: 'Weakness',
          model: null
        },
        {
          label: 'Lack of Endurance',
          model: null
        },
        {
          label: 'Incoordination',
          model: null
        }
      ],
      items: [
        {
          title: '',
          flex: 'xs12 md4'
        },
        {
          title: 'Right Knee',
          flex: 'xs12 md4'
        },
        {
          title: 'Left Knee',
          flex: 'xs12 md4'
        }
      ],
      flareUps: {
        flareUpsQuestionButton: '',
        flareUpsQuestionButton1: '',
        flareUpsQuestion1Area: '',
        flareUpsQuestion1Area1: '',
        flareUpsQuestion2Button: '',
        flareUpsQuestion2Button1: '',
        flareUpsQuestion3Area: '',
        flareUpsQuestion3Area1: '',
        flareUpsQuestion4CheckBox: '',
        flareUpsQuestion4CheckBox1: '',
        flareUpsQuestion4Text: '',
        flareUpsQuestion4Text1: '',
        flareUpsQuestion5Button: '',
        flareUpsQuestion5Button1: ''
      }
    }),
    methods: {
      testPayload () {
        console.log(this.flareUps)
      }
    }
  }
</script>