<template>
  <v-card class="pa-4" id="medical-info" style="background-color: #CCDEF3;">
    <v-layout column wrap>

      <v-flex xs12>
        <v-layout row wrap class="align-center">
          <v-flex xs12 md3>
            <card-text text="Final Diagnosis by Dr. Broomes:" />
          </v-flex>
          <v-flex xs12 sm7 md9 lg9>
            <global field="textfield" v-model="medical.finalDiagnosis" inputType="text"/>
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />                                           
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="align-center">
          <v-flex xs12 md3>
            <card-text text="Diagnosis" />
          </v-flex>
          <v-flex xs12 sm7 md9 lg9>
            <global field="textfield" v-model="medical.diagnosis" inputType="text"/>
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />                                           
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="align-center">
          <v-flex xs12 sm5 md3>
          </v-flex>

          <v-flex xs12 sm7 md9>
            <v-layout class="mt-2 font-weight-light subheading justify-center text-xs-center align-center">
              <v-card-text v-for="index in 2" :key="index">
                {{ index === 1 ? 'Right Knee' : 'Left Knee' }}
              </v-card-text>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="align-center">
          <v-flex xs12 md3>
            <card-text text="Date of onset" />
          </v-flex>

          <v-flex xs12 md9> 
            <v-layout row wrap class="align-center">
              <v-flex xs12 md6>
                <global field="dateField" v-model="medical.rightDateOfOnset" />
              </v-flex>

              <v-flex xs12 md6>
                <global field="dateField" v-model="medical.leftDateOfOnset" />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Details of Onset" />
          </v-flex>

          <v-flex xs12 md9>
            <v-layout row wrap class="align-center">
              <v-flex xs12 md6>
                <global field="textarea" v-model="medical.rightDetailsOfOnset" />
              </v-flex>

              <v-flex xs12 md6>
                <global field="textarea" v-model="medical.leftDetailsOfOnset" />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Have the symtoms improved, progressed or stayed the same ?'" />
          </v-flex>

          <v-flex xs12 md9>
            <v-layout row wrap class="align-center">
              <v-flex xs12 md6>
                <global field="textarea" v-model="medical.rightCurrentSymptoms" />
              </v-flex>

              <v-flex xs12 md6>
                <global field="textarea" v-model="medical.leftCurrentSymptoms" />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider class="mx-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Medications" />
          </v-flex>
          
          <v-flex xs12 md9>
            <global class="mx-2" field="textarea" v-model="medical.medications" />
          </v-flex>
        </v-layout>
      <v-divider class="ma-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Prior Treatments" />
          </v-flex>
          
          <v-flex xs12 md9>
            <global class="mx-2" field="textarea" v-model="medical.priorTreatments" />
          </v-flex>
        </v-layout>
      <v-divider class="ma-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Does the Veteran report that flare-ups impact the function of the hip/thigh? (Include duration, frequency and severity)" />
          </v-flex>

          <v-flex xs12 md9>
            <v-layout row wrap class="text-xs-center align-center">
              <v-flex xs12 md5>
                <global class="mx-2" field="button" v-model="medical.veteranReport1Button" @add="isClicked" :btnItems="arrayItems" />
              </v-flex>

              <v-flex xs12 md7>
                <global class="mx-2" field="textarea" v-model="medical.veteranReport1" />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Does the Veteran report having any functional loss or functional impairment not limited to repeated use over time?" />
          </v-flex>

          <v-flex xs12 md9>
            <v-layout row wrap class="text-xs-center align-center">
              <v-flex xs12 md5>
                <global class="mx-2" field="button" v-model="medical.veteranReport2Button" @add="isClicked" :btnItems="arrayItems" />
              </v-flex>

              <v-flex xs12 md7>
                <global class="mx-2" field="textarea" v-model="medical.veteranReport2" />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Further limitations during a flare-up" />
          </v-flex>

          <v-flex xs12 md9>
            <v-layout row wrap class="text-xs-center align-center">
              <v-flex xs12 md5>
                <global class="mx-2" field="button" v-model="medical.limitation1Button" @add="isClicked" :btnItems="arrayItems"/>
              </v-flex>

              <v-flex xs12 md7>
                <global class="mx-2" field="textarea" v-model="medical.limitation1" />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Further limitations after repetitive use" />
          </v-flex>

          <v-flex xs12 md9>
            <v-layout row wrap class="text-xs-center align-center">
              <v-flex xs12 md5>
                <global class="mx-2" field="button" v-model="medical.limitation2Button" @add="isClicked" :btnItems="arrayItems" />
              </v-flex>

              <v-flex xs12 md7>
                <global class="mx-2" field="textarea" v-model="medical.limitation2" />
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>

      <v-flex xs12>
        <v-layout row wrap class="mt-3 align-center">
          <v-flex xs12 md3>
            <card-text text="Evidence" />
          </v-flex>

          <global class="mx-2" field="textarea" v-model="medical.evidence"></global>
        </v-layout>
        <v-divider class="ma-2" />
      </v-flex>
    </v-layout>
  </v-card>
</template>
<script>
  import CardText from '@/components/props/CardText'
  import Global from '@/components/props/Global'
  import swal from 'sweetalert'

  export default {
    components: {
      CardText,
      Global
    },
    data: () => ({
      arrayItems: ['Yes', 'No', 'N/A'],
      medical: {
        finalDiagnosis: '',
        diagnosis: '',
        rightDateOfOnset: '',
        leftDateOfOnset: '',
        rightDetailsOfOnset: '',
        leftDetailsOfOnset: '',
        rightCurrentSymptoms: '',
        leftCurrentSymptoms: '',
        veteranReport1Button: '',
        veteranReport1: '',
        veteranReport2Button: '',
        veteranReport2: '',
        limitation1Button: '',
        limitation1: '',
        limitation2Button: '',
        limitation2: '',
        evidence: ''
      }
    }),
    methods: {
      testPayload () {
        console.log(this.medical)
      },
      isClicked () {
        swal({
          title: 'Add Ankle DBQ',
          text: 'Shin splints affect the ankle ROM, Ankle DBQ will be added.',
          buttons: {
            text: 'Continue',
            cancel: 'Close'
          }
        })
      }
    }
  }
</script>
<style lang="stylus">
.swal-title
  text-align: left
  margin-left: 5%
  font-family: Roboto Light
  color: #212121
</style>
