<template>
  <v-flex>
    <v-layout row wrap
      class="font-weight-light subheading">

      <v-flex :class="item.flex"
        v-for="(item, index) in titles"
        :key="index">

        <v-card-title class="justify-center">{{ item.title }}</v-card-title>
        
      </v-flex>

    </v-layout>
  <v-divider />
</v-flex>
</template>
<script>
  export default {
    props: {
      titles: {
        type: [Array, Object],
        default: () => ({
          title: String,
          flex: String
        })
      }
    }
  }
</script>