<template>
  <v-layout>
    <navigation />
    <toolbar />
    <v-slide-y-transition mode="out-in">
      <router-view/>
    </v-slide-y-transition>
  </v-layout>
</template>

<script>
  import Toolbar from '@/components/common/Toolbar'
  import Navigation from '@/components/common/Navigation'
  export default {
    components: {
      Toolbar,
      Navigation
    }
  }
</script>